<header>
<script>
var map;
var service;
var infowindow;
const API_KEY = process.env.GOOGLE_MAPS_API_KEY;

function initMap() {
    // begin in sydney, Australia
  var sydney = new google.maps.LatLng(-33.867, 151.195);

  infowindow = new google.maps.InfoWindow();

  map = new google.maps.Map(
      document.getElementById('map'), {center: sydney, zoom: 15});
// how can we safely include an API key here from .ENV with every request?
// check google OAUTH: 
  var request = {
    query: 'Museum of Contemporary Art Australia',
    fields: ['name', 'geometry'],
    key: API_KEY
  };
 var service = new google.maps.places.PlacesService(map);

  function makeRequest() {
    service.findPlaceFromQuery(request, function(results, status) 
{
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
        map.setCenter(results[0].geometry.location);
        makeRequest(); // call recursively to handle multiple 
requests
      } else {
        console.error('Error:', status);
      }
    });
  }

  makeRequest();
}

</script>
</header>

<body onload="">
<div id="map">

</div>
</body>