<div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <h1 class="logout"><strong>Logged Out Successfully</strong></h1>
    <button onclick="window.location.href='/login'" class="logbtn btn btn-secondary mt-3">Login</button>
  </div>
</div>