<div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <h1><strong>Logged Out Successfully</strong></h1>
    <button onclick="window.location.href='/login'" class="btn mt-3" style="background-color: rgb(255, 202, 28);">Login</button>
  </div>
</div>