<div class="container mt-5">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1><strong>Logged out successfully!</strong></h1>
    <button onclick="window.location.href='/login'" class="btn btn-secondary mt-3">Login</button>
  </div>
</div>