<!DOCTYPE html>
{{> message}}
<div class="container d-flex justify-content-center">
    <div class="position-absolute top-50 start-50 translate-middle">
        <form action="/register" method="post">
        <label for="title" style="font-size:xx-large; font-weight:bolder">Register</label><br>
            <label for="username" style="font-size:larger">Username</label><br>
            <input name="username" type="text" id="username" class="form-control" required><br>
            <label for="password" style="font-size:larger">Password</label><br>
            <input name="pwd" type="password" id="password" class="form-control" required>
            <button type="submit" class="btn mt-3" style="background-color: rgb(255, 202, 28);">Register</button>
        </form>
        <p class="mt-3">
        Already have an account? 
        <a href="/login">Login</a>
        </p>
    </div>
</div>